* {
	box-sizing: border-box;
}

body {
	background-color: #111;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 50vw;
}

.square {
	background-color: #1d1d1d;
	box-shadow: 0 0 2px #000;
	height: 76px;
	width: 76px;
	margin: 2px;
	transition: 0.5s ease;
}

body {
	color: #cc47c1;
}
ul {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 30px;
}
